.main-content {
  margin: 0;
  padding-top: 5em!important;
}

.title-row{
  margin-bottom: 0.5em;
}

.main-content .section-1{
  margin: 2em;
}

.section-1 .card{
  /* margin-right: 1em; */
}

.section-1 .card h1{
  font-size: 5em;
}
